package partials

import "com.xeubiart/app"
import "com.xeubiart/utils"
import "com.xeubiart/pages/gallery/frags"
import "github.com/gin-gonic/gin"
import "strconv"

func init() {
    app.GetInstance().Router.GET("/gallery/section", func(c *gin.Context) {
        page, err := strconv.Atoi(c.DefaultQuery("page", "0"))
        if err != nil {
            c.JSON(400, gin.H{"error": "invalid page"})
            return
        }

        utils.Render(gallerySection(page))(c)
    })
}

templ gallerySection(page int) {
    {{
        result, _ := app.GetInstance().Services.GalleryService.GetGallery(page)
    }}

    for _, item := range result.Content {
        @frags.ItemCard(item)
    }
}