package desktop_frags

templ Header(){
    <header>
        <div id="logo"></div>
        <ul id="navigation">
            <li class="page selected">Appointment</li>
            <li class="page">Contact</li>
        </ul>
        <div id="account">
            <button class="btn" id="login">Login</button>
            <button class="btn" id="signup">Create an account</button>
        </div>
    </header>
}