{
    auto_https off
}

:80 {
    # Shared UI library bundle
    handle_path /static/ui/* {
        root * ../frontend/ui/dist
        file_server
    }

    handle_path /static/* {
        root * ../frontend/static
        file_server
    }

    # Reverse proxy Angular WebSocket requests
    @angular_ws {
        header Connection *Upgrade*
        header Upgrade    websocket
    }
    reverse_proxy @angular_ws localhost:4200

    @tailwind {
        path /tailwind.css
    }

    handle @tailwind {
        root * ../frontend/tailwind/dist
        file_server
    }

    handle / {
        reverse_proxy localhost:8081
    }

    handle {
        reverse_proxy localhost:4200
    }
}