#hero_section{
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - var(--header-height));

    display: flex;
    padding: 20px var(--horizontal-main-padding) 20px var(--horizontal-main-padding);
}

#CTA {
    width: 100%;
    height: 100%;
    margin: auto 0;

    display: flex;
    flex-direction: column;
    position: relative;
}

#CTA > h1 {
    color: var(--main-color);
    font-weight: bolder;
    font-size: 2.2em;
    margin-bottom: .5em;
    z-index: 2;
}

#CTA > p {
    width: 80%;
    line-height: 1.2em;
    color: var(--secondary-color);
    font-family: "secondary";
    font-size: 1.15em;
}

#CTA > button {
    width: 100%;
    font-weight: bolder;
    font-size: 2em;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: var(--contrast-color);
    color: var(--background-color);
    margin-top: auto;
    margin-bottom: 15%;
    z-index: 2;
}

#image {
    width: 270px;
    flex-grow: 1;
    margin-left: auto;
    background-image: url("../img/perecos.png");
    background-position: center;
    background-size: 107%;
    background-repeat: no-repeat;
}

#image > img {
    height: 100%;
}