#how-works{
    height: fit-content;
    background-color: var(--light-color);
}

.step_container{
    padding: var(--horizontal-main-padding);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.step_container-step_display{
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step_container-step_display-number{
    width: 100%;
    aspect-ratio: 1/1;
    border: 3px solid var(--secondary-color);
    border-radius: 100px;
    display: grid;
    place-items: center;
    margin-bottom: .5em;
    font-size: 1.5em;
    color: var(--secondary-color);
}

.step_container-step_display-text{
    writing-mode: sideways-lr;
    text-align: right;
    margin: 0 auto;
    font-size: 2em;
    letter-spacing: 5px;
    line-height: 0em;
    color: var(--secondary-color);
}

.step_container-img{
    width: 40%;
    aspect-ratio: 1/1;
    background-color: red;
    margin: 0 15px;
}

.step_container-text{
    width: 40%;
    height: 100%;
    font-family: "secondary";
    line-height: 1.2em;
    font-size: 1em;
    text-align: end;
}

#separator-1{
    width: 100%;
    height: 60px;
    background-image: url("../svg/separator-1.svg");
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
}

#separator-2{
    width: 100%;
    height: 80px;
    background-image: url("../svg/separator-2.svg");
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
}

#step-1 .step_container-text{
    margin-top: 6em;
}
#step-1 .step_container-step_display{
    margin-top: -3em;
}
#step-2 .step_container-text{
    text-align: start;
}
#step-3 .step_container-step_display{
    margin-top: -5em;
}