$primary: #4C585B
$secondary: #F8EEDF
$contrast: #8E1616
$background: #E8C999
// Do not make any sense this be a variable,
// but can make easier to change the variable
// name or value in future
$white: #ffffff