#about-me{
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    padding: var(--horizontal-main-padding);

    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20%;

    background-color: var(--light-color);
    background-size: 60%;
    background-image: url("/static/svg/about-me-background.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
}

#about-me h2 {
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--main-color);
    margin-bottom: .5em;
}

#about-me p {
    font-family: "secondary";
    width: 100%;
    color: var(--main-color);
    font-size: 1em;
    line-height: 1.2em;
}

#about-me > #who-am-i {
    margin-top: 50%;
}

#about-me > #tattoo {
    margin-top: 20%;
    margin-left: auto;
}
