header {
    display: flex;
}

#pages_links{
    margin: 0 auto;

    display: flex;
    list-style: none;
}

#pages_links > li {
    margin: 0 20px;
    font-weight: bolder;
}

#logo {
    width: 20px;
    height: 20px;
    background-color: red;
}

/* login-methods */

#login-methods{
    height: 100px;

    & #login{
        background-color: transparent;
    }
}