header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px var(--horizontal-main-padding);
    height: var(--header-height);
    box-sizing: border-box;
}

#logo {
    height: 25px;
}

#login_methods > button {
    font-weight: bold;
    font-size: .7em;
    padding: 5px 10px;
}

#login_button{
    background-color: transparent;
    color: var(--secondary-color);
}

#register_button{
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-radius: 200px;
}