#hero_section{
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - var(--header-height));

    display: flex;
    padding: 0 var(--horizontal-main-padding);
}

#CTA {
    width: 100%;
    height: 100%;
    margin: auto 0;

    display: flex;
    flex-direction: column;
    position: relative;
}

#CTA > h1 {
    color: var(--main-color);
    font-weight: bolder;
    font-size: 2.2em;
    margin-bottom: .5em;
}

#CTA > p {
    width: 80%;
    color: var(--secondary-color);
    font-family: "secondary";
    font-size: 1em;
}

#CTA > button {
    width: 100%;
    font-weight: bolder;
    font-size: 2em;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: var(--contrast-color);
    color: var(--background-color);
    margin-top: auto;
    margin-bottom: 15%;
    z-index: 2;
}

#image {
    width: 50%;
    height: 100%;
    background-image: url("/static/img/perecos.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    right: 0px;
}

#image > img {
    height: 100%;
}