body{
    /* padding: 20px 40px; */
}

@font-face {
    font-family: "secondary";
    src: url("../../../fonts/secondary.ttf");
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial;

    --main-color: #871414;
    --secondary-color: #F4740F;
    --background-color: white;
    --contrast-color: #5AAD1F;
    --light-color: #F3E1E5;

    --horizontal-main-padding: 30px;
    --header-height: 70px;
}