package pages

import "com.xeubiart/templates"
import "com.xeubiart/pages/landing/frags"
import "com.xeubiart/app"
import "com.xeubiart/utils"

func init(){
    app.GetInstance().Router.GET("/", utils.Render(landing()))
}

templ landing(){
    @templates.Base(templates.BaseProps{
        HeadTitle: "Xeubiart Studio | Fine-line & Blackwork Tattoos in Porto",
        HeadImports: head(),
        IncludeNavigation: true,
        IncludeFooter: true,
        IncludeFooterCTA: true,
    }){
        <div class="[&>section:nth-of-type(odd)]:bg-cream [&>section:nth-of-type(even)]:bg-text">
            @frags.Hero()
            <ui-divider class="block bg-cream py-3 px-8"></ui-divider>
            @frags.About()
            @frags.Gallery()
            @frags.Social()
            @frags.Steps()
        </div>
    }
}

templ head(){
    <script type="module" src="/static/ui/ui-kit.mjs"></script>
}