footer{
    width: 100vw;
    height: var(--footer-height);
    background-color: var(--main-color);

    box-sizing: border-box;
    padding: 0 var(--horizontal-main-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo_footer{
    width: 350px;
    height: 100px;
    background-image: url("../svg/logo_white.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

footer hr {
    width: 100%;
    border: 1px solid white;
    margin: 2em 0;
}

#socials{
    display: flex;
}

.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 40px;
    height: 40px;
    border: 2px solid var(--background-color);
    border-radius: 40px;
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
}