#hero_section{
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - var(--header-height));

    display: flex;
    padding: 0 calc(var(--horizontal-main-padding) + 60px);
}

#CTA {
    width: 50%;
    height: 70%;
    margin: auto 0;

    display: flex;
    flex-direction: column;
}

#CTA > h1 {
    color: var(--main-color);
    font-weight: bolder;
    font-size: 4.7em;
    margin-bottom: .5em;
}

#CTA > p {
    width: 500px;
    color: var(--secondary-color);
    font-family: "secondary";
    font-size: 1.4em;
}

#CTA > button {
    width: fit-content;
    font-weight: bolder;
    font-size: 2em;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: var(--contrast-color);
    color: var(--background-color);
    margin-top: auto;
}

#image {
    width: 50%;
    height: 100%;
    background-image: url("../img/perecos.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

#image > img {
    height: 100%;
}