#how-works{
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    padding: 0 var(--horizontal-main-padding);

    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 15%;
    position: relative;
    background-color: var(--light-color);

    background-image: url("../svg/steps-background.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#how-works > button {
    position: absolute;
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--background-color);
    bottom: 40px;
    right: 80px;
    padding: 20px 60px;
    background-color: var(--contrast-color);
    border-radius: 20px;
}

.step_container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.step_container-top{
    display: flex;
    grid-template-columns: 20% 78%;
    gap: 8%;

    width: 100%;
    height: fit-content;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.step_container-number{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--secondary-color);
    border-radius: 100px;
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: bold;
}
.step_container-text{
    writing-mode: sideways-lr;
    text-align: right;
    margin: 0 auto;
    font-size: 2em;
    letter-spacing: 5px;
}

.step_container-step_display{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 40px;
    height: fit-content;
    color: var(--secondary-color);
}

.step_container-img{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(137, 137, 137);
}

.step_container-bottom{
    font-family: "secondary";
    font-size: 1em;
    line-height: 1.5em;
    color: var(--main-color);
}

#step-1{
    margin-top: 20%;
}

#step-2{
    margin-top: auto;
    margin-bottom: 35%;
}

#step-3{
    margin-top: 30%;
}