package atoms

import "github.com/Oudwins/tailwind-merge-go/pkg/twmerge"

type EyebrownProps struct{
    Icon                string
    AditionalClassnames string
}

templ Eyebrown(props EyebrownProps){
    <atom-eyebrown class={
        "py-1.5 px-3 w-fit rounded-full uppercase text-[.7rem] tracking-widest", 
        props.AditionalClassnames,
    }>
        if props.Icon != "" {
            <span class="mr-2 select-none">{ props.Icon }</span>
        }
        { children... }
    </atom-eyebrown>
}

templ Eyebrown_Cherry(extra string){
    @Eyebrown(EyebrownProps{
        Icon:                "🍒",
        AditionalClassnames: twmerge.Merge("text-cherry bg-cherry/20", extra),
    }){
        { children... }
    }
}

templ Eyebrown_Sparkly(extra string){
    @Eyebrown(EyebrownProps{
        Icon:                "✦",
        AditionalClassnames: twmerge.Merge("text-cherry bg-cherry/20", extra),
    }){
        { children... }
    }
}