@use "asset/sass/global" as g

@mixin opt
    width: 100%
    font-size: 2em
    text-align: center
    padding: 5px 0
    font-weight: bolder
    cursor: pointer

#calendar
    width: fit-content
    height: fit-content
    display: flex
    flex-direction: column
    align-items: center

    #controller
        margin-bottom: 2em
        #date-display
            width: 60%
            color: g.$color-accent-primary
            font-size: 2em
            font-weight: bolder
            margin: 0 30px

        .btn
            font-weight: bolder
            background-color: transparent
            color: g.$color-accent-primary
            font-size: 2em
            border: none
            cursor: pointer

        .hidden
            opacity: 0
            pointer-events: none
            cursor: default
            user-select: none

    #container
        $gridSize: 70px

        .holder
            display: grid
            grid-template-columns: repeat(7, $gridSize)

        .cell
            width: $gridSize
            height: $gridSize
            
            display: grid
            place-items: center

            font-weight: bolder
            font-size: 1.2em

            border-radius: 100%

            border: 2px solid g.$color-bg-primary
            transition: border .3s ease

        .available
            cursor: pointer

            &:hover, &.selected
                border: 2px solid g.$color-bg-secondary

        .weekDay
            color: g.$color-text-secondary
            cursor: default

            &:hover
                border: 2px solid g.$color-bg-primary

        .pastDay
            color: g.$color-text-secondary
            cursor: default

        .appointed
            border-radius: 100px
            border: 2px solid g.$color-accent-primary

    #confirmation
        height: 80px
        display: flex

        > *
            margin: 0 10px

        select
            font-size: 2em
            border: none
            color: g.$color-accent-primary
            padding: 20px 30px
            border-bottom: 3px solid g.$color-accent-primary
            font-weight: bolder
            cursor: pointer
            width: 200px
            text-align: center
            appearance: none
            outline: none

        button
            height: 100%
            width: 250px
            font-size: 2em
            color: g.$color-bg-primary
            background-color: g.$color-accent-secondary
            border-radius: 20px
            padding: 20px 30px
            margin: 0 10px
            border: none
            font-weight: bolder
            cursor: pointer

#custom-select
    width: 200px
    height: 100%

    position: relative
    display: grid
    place-items: center

    ul
        width: 100%

        top: 0px
        left: 0px
        position: absolute
        transform: translateY(-100%)
        transition: max-height .3s ease-in
        
        max-height: 210px
        overflow-x: hidden
        overflow-y: scroll

        background-color: g.$color-bg-primary

        @include g.hide-scrollBar

        li
            @include opt
            transition: background-color .3s ease-in, color .3s ease-in
            color: g.$color-text-primary

            &.highlight
                background-color: g.$color-accent-secondary
                color: g.$color-bg-primary

            &.hidden
                display: none

        &.hidden
            max-height: 0px
            

    #custom-selected-display
        @include opt
        display: grid
        place-items: center
        height: 100%
        color: g.$color-accent-primary
        border-bottom: 3px solid g.$color-accent-primary