$gridSize: 50px
    
#date_picker__montDays__container
    display: grid
    grid-template-columns: repeat(7, $gridSize)
    
.date_picker__monthDay
    width: $gridSize
    height: $gridSize
    background-color: red

.date_picker__monthDay-appointed
    background-color: yellow

#date_picker__weekDays
    display: grid
    grid-template-columns: repeat(7, $gridSize)

.date_picker__weekDay
    width: $gridSize
    height: $gridSize
    background-color: green