package components

templ Footer(){
    <footer id="footer">
        <div id="head">
            <h2>Xeubiart</h2>
            <h3>Express your uniqueness</h3>
        </div>
        <div id="container">
            <div id="left">
                <h4>Links uteis</h4>
                <ul id="link_holder">
                    <li class="links"><a href="#">About</a></li>
                    <li class="links"><a href="#">Contact</a></li>
                    <li class="links"><a href="#">Privacy Policy</a></li>
                    <li class="links"><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div id="right">
                <div id="map"></div>
                <div id="address">
                    <span>Rua teste de são teste</span>
                    <button><img src="/frontend/static/svg/copy.svg" alt="Copy"></button>
                </div>
            </div>
        </div>
        <div id="social_links">
            <a href="#"><img src="/frontend/static/svg/tiktok.svg" alt="Tiktok icon"></a>
            <a href="#"><img src="/frontend/static/svg/facebook.svg" alt="Facebook icon"></a>
            <a href="#"><img src="/frontend/static/svg/whatsapp.svg" alt="Whatsapp icon"></a>
            <a href="#"><img src="/frontend/static/svg/twitter.svg" alt="Twitter icon"></a>
            <a href="#"><img src="/frontend/static/svg/instagram.svg" alt="Instagram iconx"></a>
        </div>
    </footer>
}