package components

templ Hotbar(){
    <div id="hotbar">
        <div id="holder">
            <div class="icon active"></div>
            <div class="icon"></div>
            <div class="icon"></div>
            <div class="icon"></div>
            <div class="icon"></div>
        </div>
    </div>
}