package components

templ ProductCard(){
    <div class="productCard">
        <div class="image">
            <div class="actions">

                <div class="action">
                    <img src="/frontend/static/svg/cart_shop.svg">
                </div>
                
                // TODO: this icon is smaller than the one above.
                <div class="action">
                    <img src="/frontend/static/svg/heart.svg">
                </div>

            </div>
        </div>

        <div class="info">
            <span class="name">Pumadinha :3</span>
            <div class="bottom">
                <span class="rating">4.7 (500 reviews)</span>
                <span class="price">$10,00</span>
            </div>
        </div>
    </div>
}