package components

import "placeholder/dev/backend/models"

templ ProductCard(productCard models.ProductCard){
    <div class="productCard">
        <div class="image">
            <div class="actions">

                <div class="action">
                    <img src="/frontend/static/svg/cart_shop.svg">
                </div>
                
                // TODO: this icon is smaller than the one above.
                <div class="action">
                    <img src="/frontend/static/svg/heart.svg">
                </div>

            </div>
        </div>

        <div class="info">
            <span class="name">{ productCard.Name }</span>
            <div class="bottom">
                <span class="rating">{ productCard.Rating } ({ productCard.RatingCount } reviews)</span>
                <span class="price">{ productCard.Price }</span>
            </div>
        </div>
    </div>
}