@use "../../_globals" as g;
    
.category
    width: 100vw
    height: 55vh // TESTING THE SIZE
    background-color: g.$secondary

    display: flex
    flex-direction: column

    // padding: 0 g.$side-margin

    &:nth-child(odd)
        background-color: g.$background

    h2
        font-size: 3.2em
        font-weight: bolder
        color: g.$black
        margin: 40px 0 40px g.$side-margin

    .holder
        @include g.hide-scroll-bar

        width: 100%
        height: 100%

        display: flex
        overflow-x: scroll

        // box-sizing: content-box
        // padding-right: g.$side-margin

        // BEIGN TESTED
        scroll-snap-type: x mandatory
        scroll-behavior: smooth

    button
        width: fit-content
        height: fit-content

        font-size: 2.3em
        font-weight: bolder
        color: g.$white
        background-color: g.$primary

        margin: 40px g.$side-margin 40px auto

        padding: 15px 30px
        border-radius: 300px
