package components

type HotBarItem struct {
    Icon  string
    Label string
}

templ HotBar(){
    {{
        selected := 0

        data := []HotBarItem{
            HotBarItem{
                Icon: "\uE802",
                Label: "Início",
            },
            HotBarItem{
                Icon: "\uE805",
                Label: "Galeria",
            },
            HotBarItem{
                Icon: "\uE804",
                Label: "Agendar",
            },
            HotBarItem{
                Icon: "\uE808",
                Label: "Loja",
            },
            HotBarItem{
                Icon: "\uE81B",
                Label: "Entrar",
            },
        }
    }}

    <hot-bar class="lg:hidden flex justify-between w-full h-fit bg-cream sticky bottom-0 border-t-1 border-cherry/30 p-4 items-center py-4 px-8">
        for i, d := range(data){
            if i == 2 {
                <div data-selected?={i == selected} class="flex flex-col items-center data-selected:text-cherry">
                    <icon class="text-lg mb-1 shadow-lg shadow-cherry/50 p-2 bg-cherry aspect-square grid place-items-center rounded-2xl text-white">{d.Icon}</icon>
                    <span class="text-xs font-semibold text-cherry">{d.Label}</span>
                </div>
            } else {
                <div data-selected?={i == selected} class="w-[40px] h-[40px] flex flex-col items-center data-selected:text-cherry text-muted">
                    <icon class="text-lg">{d.Icon}</icon>
                    <span class="text-xs font-semibold">{d.Label}</span>
                </div>
            }
        }
    </hot-bar>
}