@use "asset/sass/global" as g
    
body
    height: 100vh
    display: flex
    flex-direction: column

#main_section
    width: 100vw
    flex: 1 1 auto

    display: flex
    justify-content: space-between
    align-items: center

    padding: g.$main-side-margin

    #side_word
        width: 15%

        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 100%
        position: relative

        a
            position: absolute
            top: 0
            width: 100%
            cursor: pointer

        span
            color: g.$color-bg-secondary
            writing-mode: sideways-lr
            font-size: 600%
            text-align: center
            margin: 0 2%

    #image_container
        width: 35%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: end
        margin-left: -10%

        img
            width: 80%
            margin: 0 auto
            margin-bottom: 3rem

        h3
            font-size: 2em
            font-weight: bolder
            color: g.$color-bg-secondary
            margin-bottom: 1rem

        p
            width: 100%
            font-family: secondary
            // font-weight: bold
            color: g.$color-accent-primary