package frags

templ About(){
    <section-about class="lg:grid lg:grid-cols-2 lg:place-items-center lg:px-[7%] lg:py-13 items-stretch flex flex-col gap-15 p-10 bg-cream">
        <div class="bg-red-500 w-full relative aspect-[3/4] max-w-[350px]">
            <div class="text-white absolute -left-5 -bottom-5 flex flex-col bg-cherry rounded-2xl px-6 py-3">
                <span class="text-[.6rem] uppercase tracking-widest">since</span>
                <span class="font-contrast text-4xl -mt-3">2018</span>
            </div>
        </div>
        <div class="flex h-fit flex-col gap-5 max-w-[500px]">
            <ui-eyebrow type="sparkly">Sobre mim</ui-eyebrow>
            <ui-title level="h2" classes="lg:!text-6xl">A artista por<br> <em class="text-nowrap">trás da agulha.</em></ui-title>
            <div class="h-[1px] w-[50px] bg-cherry my-4"></div>
            <p class="text-muted text-base/6">Sou Khelbia Lopes — tatuadora, ilustradora e apaixonada por transformar momentos em arte permanente. Comecei minha jornada em 2018 com um sonho simples: fazer com que cada pessoa saísse do meu estúdio com algo que fosse verdadeiramente dela.</p>
        </div>
    </section-about>
}