package frags

templ Gallery(){
    <section-galery class="bg-black/95 block px-10 lg:px-20 py-15 flex flex-col gap-10">
        // Header
        <div>
            <ui-eyebrow type="sparkly" classes="bg-white/15 text-white/75 mb-4 block">Portifólio</ui-eyebrow>
            <ui-title level="h4" classes="[font-size:clamp(2.2rem,5vw,4rem)] [line-height:1] text-white [&_em]:!text-transparent [&_em]:[-webkit-text-stroke:2px_#ffffff80]">
                Cada traço,<br> uma <em>história</em>.
            </ui-title>
        </div>
        
        // Body
        <div class="w-full h-[300px] bg-cherry"></div>
        
        // Footer
        <div class="w-full h-fit flex flex-col-reverse lg:flex-row lg:items-center justify-between">
            <div class="uppercase text-white/50 text-xs tracking-widest ml-auto lg:ml-0">Todos os trabalhos são originais 🍒</div>
            <div class="lg:hidden w-full h-[1px] bg-white/25 my-8"></div>
            <ui-button type="thin" classes="hover:bg-cherry hidden lg:flex">Ver portifólio completo <i class="icon-right-hand"></i></ui-button>
        </div>
    </section-galery>
}