#about-me{
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    padding: 0 calc(var(--horizontal-main-padding) + 60px);

    display: grid;
    grid-template-columns: 33% 33% 33%;

    background-image: url("/static/svg/about-me-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 70px;
}

#about-me h2 {
    font-size: 1.8em;
    font-weight: bolder;
    color: var(--main-color);
    margin-bottom: .7em;
}

#about-me p {
    font-family: "secondary";
    width: 250px;
    line-height: 1.4em;
}

#about-me > #who-am-i {
    margin-top: 60%;
}

#about-me > #tattoo {
    margin-top: 30%;
    margin-left: auto;
}
