header {
    display: flex;
    align-items: center;
    padding: 20px var(--horizontal-main-padding);
    height: var(--header-height);
    position: sticky;
    top: 0px;
    background-color: var(--background-color);
    box-sizing: border-box;
}

#pages_links{
    margin: 0 auto;

    display: flex;
    list-style: none;
}

#pages_links > li {
    color: var(--secondary-color);
    margin: 0 20px;
    font-weight: bolder;
}

#logo {
    height: 40px;
}

#login_methods > button {
    font-weight: bold;
    font-size: 1em;
    padding: 10px 20px;
}

#login_button{
    background-color: transparent;
    color: var(--main-color);
}

#register_button{
    background-color: var(--main-color);
    color: var(--background-color);
    border-radius: 200px;
}