@use "../../_globals" as g;
    
#hero
    height: 55vh // Override the height from the .section class

    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: space-between

    padding: 7vh g.$side-margin

    #title
        font-size: 4.5rem
        font-weight: bolder
        color: g.$black
        text-align: right